{%extends 'posts/base.html'%}

{%block title%}
addblog
{%endblock%}

{%block content%}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Add Blog;</label></br>
        <input type="text" name="blogtopic" placeholder="Blog Topic"></br>
        <input type="text" name="blogsummary" placeholder="Write briefly about the blog"></br>
        <textarea class="form-control" name="blogcontent" rows="3"
            placeholder="Type in your Blog content"></textarea></br>
        <input type="checkbox" name="draft"></br>
        <input type="file" name="image"></br>



    </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Post Blog.
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Post Blog;</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to post your new blog?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No; needs Changes.</button>
                <button type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
</form>
{%endblock%}