{%extends 'posts/base.html'%}

{%block title%}
Register
{%endblock%}

{%block content%}
<p>
    <h1>Register here</h1>
</p>
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="First name"></br>
    <input type="text" name="last_name" placeholder="Second name"></br>
    <input type="text" name="username" placeholder="username"></br>
    <input type="email" name="email" placeholder="Enter your Email"></br>
    <input type="password" name="password1" placeholder="Password"></br>
    <input type="password" name="password2" placeholder="Confirm Password"></br>
    <input type="Submit"></br>
</form>

<div>
	{% for message in messages %}
	<h2> {{message}} </h2>
	{% endfor %}
</div>
{%endblock%}

